@import url('https://fonts.googleapis.com/css?family=Merriweather|Noto+Sans');
body{
    background: url('https://images4.alphacoders.com/418/thumb-1920-41814.jpg');
    background-size: cover;
    font-family: 'Merriweather|Noto+Sans';
    margin: 0;
    min-width: 400px;
    color: #fff;
}

.toolBar{
    height: 50px;
    background: #000;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logoutSpan{
    position: relative;
    width: 90px;
    height: 30px;
    background-color: #DA3404;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Merriweather|Noto+Sans';
    margin-left: 10px;

}

.userNameSpan {
    margin: 20px;
}

.emptySpan {

}

.mainDiv{
    margin: 10px 10px 0 10px;
    display: flex;
}

.loadGames{
    margin: 10px 10px 0 10px;
    display: flex;
}

.usersTable{
    border: black 1px solid;
    border-radius: 6px;
    width: 200px;
    margin-top: 30px;
}

.gamesTable {
    border: 1px black solid;
    border-radius: 6px;
    width: 1000px;
}

.gamesDiv {
    margin: 0 auto;
    /*flex: 2 0 0;*/
}

.usersDiv {
    margin-left: 30px;
    /*flex: 0.4 0 0;*/
}

th {
    padding: 0% 5% 2% 1%;
}

.gamesTable th,
.gamesTable tr{
    min-width: 120px;
}

.xmlTitle th,
.txtTitle th {
    min-width: 200px;
}

.gamesDiv tr {
    background: #DA3404;
    color: #fff;
}

.usersDiv tr{
    background: #DA3404;
    color: #fff;
    height: 55px;
    text-align: center;
}

.gamesDiv td {
    height: 40px;
}

.usersDiv td {
    height: 40px;
}