body {
    background: url('wood-table.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}
/*
* {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid red;
}
*/
.container {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
}

.left-column {
    grid-column-start: 1;
    grid-column-end: 2;
}

.right-column {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-areas: '... player4 player4 player5 player5 ...' 'player3 player3 game-table game-table player6 player6' '... player2 player2 player1 player1 ...' '... ... actions actions ... ...'
}

.player1 {
    grid-area: player1;
    visibility: hidden;
}

.player2 {
    grid-area: player2;
    visibility:hidden;
}

.player3 {
    grid-area: player3;
    visibility:hidden;
}

.player4 {
    grid-area: player4;
    visibility:hidden;
}

.player5 {
    grid-area: player5;
    visibility:hidden;
}

.player6 {
    grid-area: player6;
    visibility:hidden;
}
.rtl .player-data, .rtl .player-cards{
    float:right;
}
.game-table {
    grid-area: game-table;
    background-image: url('poker1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 400px;
    min-height: 200px;
    text-align: center;

}

.height-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.actions {
    grid-area: actions;
    text-align: center;
}

.actions input {
    padding: 10px 5px;
    font-size: 16px;
    width:100px;
}
.actions > div{
    padding: 10px 0;
}

.action-button {
    border: none;
    border-radius: 100px;
    padding: 12px 20px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    background: black;
}

.card {
    width: 60px;
    vertical-align: middle;
}

.player-data {
    float: left;
    width: 160px;
    border: 1px solid #0b0202;
}

.player-cards {
    float: left;
}

.player-card {
    width: 80px;
}

.player-data>ul {
    font-family:cursive;
    padding: 5px;
    list-style-type: none;
    font-size:15px;
}

.player-data-label {
    width: 70px;
    display: inline-block;
}

.gameDetailsTable{
    border: black 1px solid;
    border-radius: 6px;
    width: 200px;
    margin-top: 30px;
    font-family:cursive;
}

.gameDetails tr{

    color: #fff;
    height: 55px;
    text-align: left;
}

.gameDetails td,th {
    padding:5px;
    height: 40px;
    color: #030303;
}

.onlinePlayerTable{
    border: black 1px solid;
    border-radius: 6px;
    width: 200px;
    margin-top: 30px;
    font-family:cursive;
}

.onlinePlayer tr{

    color: #fff;
    height: 55px;
    text-align: left;
}

.onlinePlayer td,th {
    padding:5px;
    height: 40px;
    color: #030303;
}